.n-sidebar {
    background-color: #222;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.n-sidebar-active {
    background-color: #222;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 850ms;
}

.n-sidebar-toggle {
    display: flex;
    padding: 20px 0px 20px 30px;
}

.n-sidebar-items{
    width: 100%;
}

.n-sidebar-item {
    display: flex;
    justify-self: start;
    align-items: center;
    padding: 0px 10px 5px 35px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
}

.n-close {
    height: 35px;
    width: 35px;
}