.t{
    width: 40px;
    height: 20px;
    border-radius: 20px;
    border: 0.5px solid black;
    background-color: black;
    position: relative;
    top: 23px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.t-active {
    width: 40px;
    height: 20px;
    border-radius: 20px;
    border: 0.5px solid black;
    position: relative;
    top: 23px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.t-icon{
    width: 12px;
    height: 12px;
}

.t-button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #999;
    position: absolute;
    cursor: pointer;
}